* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.titleTodo {
  font-size: 35px;
  text-shadow: 2px 3px gray;
}

/*style the list items*/
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* set all odd list items to different color*/
ul li:nth-child(odd) {
  background: #b1b3ab;
}

/* darker background-color on hover*/
ul li:hover {
  background: #2eeb2e;
  color: white;
}

/* When clicked on, add a background color and strike out*/
ul li.checked {
  background: #d3d0d0;
  color: #460505;
  text-decoration: line-through;
}

/*Add a "checked" mark when clicked on*/
ul li.checked::before {
  content: "";
  position: absolute;
  border-bottom: #460505;
  border-style: solid;
  border-width: 0 4px 4px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius: 50%;
}

.close:hover {
  background-color: #bd0e0e;
  color: white;
  font-weight: bolder;
}

/* Style the header */
.header {
  background-color: #0d0f99;
  border-radius: 10px;
  padding: 30px 40px;
  color: white;
  text-align: center;
  box-shadow: 7px 7px 7px rgb(148, 188, 190);
}

/* Clear floats after the header */
.header::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #bd0e0e;
  color: #f3ecec;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #0dda2f;
}
